* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Prosto One', cursive;
}

.first-section {
    width: 100%;
    height: 450px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 0);
    padding-top: 100px;
}

.first-section h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

.first-section p {
    padding-top: 10px;
    text-align: center;
}

.button {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg, orangered, orange);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 550px;
    margin-bottom: 30px;
}

.donation-section h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.donation-section p {
    padding-top: 10px;
    text-align: center;
    color: gray;
}

.donation-amount {
    text-align: center;
}

div strong {
    padding: 40px 20px;
    margin: 10px;
    margin-top: 50px;
    background-color: beige;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;
    border: 3px solid beige;
}

.different {
    border: 3px solid tomato;
    background-color: seashell;
    padding: 40px 20px;
    border-radius: 5px;
    font-size: 25px;
    display: inline-block;
    color: tomato;

}

.other-amount {
    width: 65%;
    margin: 20px auto;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
}

.all-cards {
    width: 80%;
    margin: 0px auto;
}

.cards {
    margin: 20px;
    display: flex;

}

.card {
    width: 30%;
    margin: 10px;
    border-radius: 5px;
}

.card img {
    margin-top: 50px;
    margin-left: 20px;
}

.card-text h3 {
    padding-left: 20px;
    margin-top: 20px;
}

.card-text p {
    padding: 20px;
    margin-bottom: 40px;
    font-size: 12px;
    text-align: justify;
}

.depending-lives {
    margin: 0px auto;
    width: 100%;
}

.depends-card {
    display: flex;
    margin-top: 80px;
}

.depend-text-card {
    width: 40%;
    margin-left: 100px;
}

.depends-image-card img {
    width: 90%;
    margin-left: 5px;
    height: 400px;
}

.depends-image-card {
    width: 40%;
}

.contribute {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg, orangered, orange);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}

.update-text {
    width: 60%;
    margin: 0px auto;
}

.updated-email {
    width: 70%;
    margin: 0px auto;
    height: 190px;
    background-color: bisque;
    margin-top: 50px;
    margin-bottom: 100px;
    align-items: center;
}

input[type=text] {
    width: 20%;
    padding: 11px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Prosto One', cursive;
    font-size: 12px;
    font-weight: bold;
}

label {
    width: 20%;
    padding: 13.5px 30px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: hotpink;
    color: white;
    position: relative;
    margin-left: -9px;
    font-size: 12px;
    font-weight: bold;
}