* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Prosto One', cursive;
}

.first-section {
    width: 100%;
    height: 400px;
    background-image: url(images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 0);
    padding-top: 100px;
}

.first-section h1 {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

.first-section p {
    padding-top: 10px;
    text-align: center;
}

.button {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(red, yellow);
    padding: 15px;
    border: 3px solid blue;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 520px;
}

.donation-section h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

.donation-section p {
    padding-top: 10px;
    text-align: center;
    color: gray;
}

.donation-amount {
    text-align: center;
}

div strong {
    padding: 40px 20px;
    margin: 10px;
    margin-top: 50px;
    background-color: lightgrey;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;
    border: 3px solid lightgrey;
}

.different {
    border: 3px solid tomato;
    background-color: lightgray;
    padding: 40px 20px;
    border-radius: 5px;
    font-size: 25px;
    display: inline-block;
    color: tomato;

}